<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  IgnorableNamespaces="uap mp rescap uap4">

  <Identity
    Name="MyPackagedPlugin"
    Publisher="CN=Lukas"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="8baa7ae6-3b7c-4b19-acd8-72d6cee4f836" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>DevicePortalProvider2</DisplayName>
    <PublisherDisplayName>Lukas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="DevicePortalProvider2.App">
      <uap:VisualElements
        DisplayName="DevicePortalProvider2"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="DevicePortalProvider2"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.appService" EntryPoint="BTask.SampleProvider">
				<uap:AppService Name="com.sampleProvider.wdp" />
			</uap:Extension>
			<uap4:Extension Category="windows.devicePortalProvider">
				<uap4:DevicePortalProvider
					DisplayName="My Device Portal Provider Sample App"
					AppServiceName="com.sampleProvider.wdp"
					HandlerRoute="/portal/" />
			</uap4:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
	<Capability Name="privateNetworkClientServer" />
	<rescap:Capability Name="devicePortalProvider" />
  </Capabilities>
</Package>